<meta charset="UTF-8">
<title>{{#if title}}{{title}}{{else}}Button Examples{{/if}}</title>
<meta name="viewport" content="user-scalable=no,initial-scale = 1.0,maximum-scale = 1.0">
<link rel="stylesheet" href="{{assets}}/css/demo.autoprefixed.css">
<link rel="stylesheet" href="{{assets}}/css/effeckt.autoprefixed.css">
<link rel="stylesheet" href="{{assets}}/css/topcoat-mobile-dark.autoprefixed.css">
{{#if styles}}<link rel="stylesheet" href="../../{{styles}}">{{/if}}

<!-- Vendor Libs -->
<script src="{{assets}}/js/jquery.min.js"></script>
<script src="{{assets}}/js/modernizr.js"></script>